# Conecta ao AdminServer
connect('{{ weblogic_admin_user }}', '{{ weblogic_admin_password }}', 't3://{{ weblogic_admin_host }}:{{ weblogic_admin_port }}');

# Inicia Managed Server/Cluster
start('{{ managed_name }}', '{{ managed_type }}');

# Disconecta do AdminServer
disconnect();
exit();

